/*Margins: length-based space between content border and other elements*/
body, html{
    background-color: lightgray;
    height: 100%;
}

.business{
    color: rgb(67, 192, 67);
    padding-left: 50%;
    box-sizing: border-box; /*prevents spilling*/
}

h1, h3, p, div, nav, label{
    font-family: sans-serif;
}

a{
    color: rgb(255, 123, 0);
    text-decoration: none;
}

a:hover{
    color:green;
}


label{
    vertical-align: top;
}

input{
    padding: 5px;
}

.request{
    padding: 4px;
    width: 200px;
}


footer{
    position: absolute;
    width: 90%;
    bottom: 0;
}

#maintitle{
    float:right;
    font-family: sans-serif;
    text-align: center;
    width:40%;
}

#banner{
    width: 15%;
    position: fixed;
    top: 0;
    left: 85%;
    display: none;
}

#banner2{
    position: fixed;
    top: 0;
    left: 80%;
    display: none;
}

#formData{
    /*outline: 2px solid;*/
    height: 25%;
    padding-top: 10px;
}

.left, .right{
    width: 50%;
    float: left;
}


#copy{
    color:rgb(122, 81, 189);
    text-align: right;
}

#mainfood{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    width: 60%;
    height: 90%;
    opacity: .6;
}

.social{
    padding: 20px;
    border: rgb(79, 124, 184);
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    
}

.col-1 {flex-basis: 8.33%;} /* width works too */
.col-2 {flex-basis: 16.66%;}
.col-3 {flex-basis: 25%;}
.col-4 {flex-basis: 33.33%;}
.col-5 {flex-basis: 41.66%;}
.col-6 {flex-basis: 50%;}
.col-7 {flex-basis: 58.33%;}
.col-8 {flex-basis: 66.66%;}
.col-9 {flex-basis: 75%;}
.col-10 {flex-basis: 83.33%;}
.col-11 {flex-basis: 91.66%;}
.col-12 {flex-basis: 100%;}

.row{
    display: flex;
    flex-direction:row;
}
